language: python
python:
    - "2.7"
    - "3.6"
install:
    - pip install -r requirements.txt
    - pip install -e .
script:
    - python setup.py pytest
    - python setup.py behave_test
after_success:
    - coveralls
